!.vscode/extensions.json
**/dist
*.local
.DS_Store
.env
.agents
.features-gen
.shots
.vscode/*
backend/.dev.vars
backend/.wrangler
backend/wrangler.toml
bun.lockb
coverage
dist-ssr
node_modules
playwright-report
test-results
vitest-report
