.env*
.gitignore
.gitattributes
.dockerignore
.node-version

node_modules
dist
coverage
*.lock
package-lock.json
*.log
*.min.*
frontend/src/routeTree.gen.ts
frontend/dist
backend/dist
backend/.wrangler
backend/coverage
frontend/.tanstack
frontend/coverage
frontend/public
playwright-report
test-results
vitest-report
.commandcode
.github
